<div class="content">
<div class="content_body_SS_daj">
    <table border="1">
      <tr>
        <th style="text-align: center;">No.</th>
        <th style="text-align: center;">景品</th>
        <th style="text-align: center;">ポイント</th>
      </tr>
      <tr>
        <td style="text-align: center;">01</td>
        <td style="text-align: left;">選べるギフト3000円相当</td>
        <td style="text-align: end;">5000P</td>
      </tr>
      <tr>
        <td style="text-align: center;">02</td>
        <td style="text-align: left;">Quoカード500円</td>
        <td style="text-align: end;">1000P</td>
      </tr>
      <tr>
        <td style="text-align: center;">03</td>
        <td style="text-align: left;">テスト用</td>
        <td style="text-align: end;">100P</td>　
      </tr>
    </table>
  </div>
  <div class="content_body_SS_daj">
    <%= form_with(model: @gift, url:gifts_path, local: true) do |f| %>
    <%= f.text_field :name, placeholder:"お名前" %>様<br><br>
    <%= f.text_field :address, placeholder:"お届け先住所" %><br><br>
    <%= f.text_field :gift_id, placeholder:"ご希望の景品No." %><br><br>
    <%= f.submit "交換", class:"small_btn btn-shared" %>
    <% end %>
  </div>
</div>