<div class="content">
  <div class="content_body_M_daj">
    <%= form_with(model: @item, local: true) do |f| %>
    洗濯重量　<%= f.collection_select(:wash_power_id, WashPower.all, :id, :name, {include_blank: "---"}) %>まで<br><br>
    看板　　　<%= f.collection_select(:status_id, Status.all, :id, :name, {include_blank: "---"}) %><br><br>
    <%= f.text_field :point, placeholder:"設定ポイント" %>P<br><br>
    <%= f.text_field :address, placeholder:"受付場所" %><br><br>
    <%= f.text_area :comment, placeholder:"コメント" %><br><br>
    <%= f.submit "更新", class:"small_btn btn-shared" %>
    <% end %>
  </div>
  <div class="content_footer">
    <div class="chat_form">

    </div>
  </div>
</div>