<div class="content">
  <div class="content_header_daj">
    <p><%= @status.name %></p>
  </div>
  <div class="content_body_S_daj">
    <br>
    洗濯重量：<%= @wash_power.name %>まで<br><br>
    1回　<%= @item.point %>ポイント<br><br>
    受け渡し場所：<%= @item.address %><br><br>
    出品者：<%= @item.user.email %><br><br>
    コメント：<%= @item.comment %><br><br>
  </div>
  <div class="content_footer">
    <% if @item.user_id == current_user.id %>
    <div class="content_footer_2">
      <%= link_to '編集', edit_item_path, method: :get, class: "btn-shared" %>
    </div>
    <div class="content_footer_2">
      <%= link_to "お問い合わせを確認", new_item_chat_path(@item), class: "btn-shared" %>
    </div>
    <% else %>
    <%= link_to "お問い合わせ", new_item_chat_path(@item), class: "btn-shared" %>
    <% end %>
  </div>
</div>