<div class="content">
  <div class="content_area">
    <%= @status.name %><br><br>
    洗濯重量：<%= @wash_power.name %>まで<br>
    1回　<%= @item.point %>ポイント<br>
    受け渡し場所：<%= @item.address %><br>
    出品者：<%= @item.user.email %><br>
    コメント：<%= @item.comment %><br>
    <% if @item.user_id == current_user.id %>
    <%= link_to '編集', edit_item_path, method: :get, class: "btn-shared" %>
    <% end %>
  </div>
</div>