<div class="outer_frame">
  <%= render "shared/header" %>
  <div class="inner_frame">
    <%= render "show_content" %>
    <% if @item.user_id == current_user.id %>
    <%= render "shared/menu_give" %>
    <% else %>
    <%= render "shared/menu_take_req" %>
    <% end %>
  </div>
  <%= render "shared/footer" %>
</div>